* {
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.monospace {
	font-family: 'Roboto Mono', monospace;
}

#app {
	width: 940px;
	margin: 0 auto;
	border: 1px solid #eeeeee;
	background-color: #fefefefe;
	padding: 13px;
	z-index: -100;
}

#app-title {
	text-align: center;
	font-size: 48px;
}
#sub-title {
	text-align: center;
	font-size: 25px;
	margin-bottom: 23px;
}

#app-menu {
	display: flex;
	justify-content: space-around;
	border-bottom: 1px solid black;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

#topContainer {
	height: 32px;
}
#topContainerLeft {
	float: left;
}
#topContainerRight {
	float: right;
}
#topContainer .gearsImage {
	width: 23px;
}

#topTitleContainer {
	position:relative;
	top: -32px;
	text-align: center;
}

#middleSectionContainer {
	display: flex;
	height: 1000px;
}
#characterAttributes {
	width: 20%;
}
#characterInfoContainers {
	width: 80%;
}

.spinner {
	position: fixed;
	top: 45%;
	left: 39%;
	background-image: url('../img/spinner.svg');
	height: 300px;
	width: 300px;
	z-index: 100;
	opacity: .5;
}

.spinnerBackground {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.25;
	z-index: 99;
}

.attributeContainer {
	display: flex;
	margin-bottom: 10px;
}

.attributeValueContainer {
	position: relative;
	width: 100px;
	margin: 0 -11px;
}
.attributeValue {
	width: 100%;
	text-align: center;
	line-height: 100px;
	font-size: 30px;
}
.attributeBase {
	line-height: 100px;
	font-size: 12px;
}
.attributeEllipse {
	position: absolute;
	top: 0;
	height: 100px;
}
.verticalWord {
	font-size: 11px;
	line-height: 10px;
	text-align: center;
	width: 8px;
	padding-top: 8px;
}
.verticalWord:first-child {
	margin-right: 2px;
}

.lock {
	cursor: pointer;
	z-index: 100;
	display: flex;
	align-items: center;
}

.lock.locked svg {
	width: 18px;
	height: 18px;
}

.lock.unlocked svg {
	width: 18px;
	height: 18px;
}

.attributeContainer .lock {
	padding-bottom: 25px;
}

.infoContainer {
	width: 100%;
	border-bottom: 1px solid #e8e8e8;
	position: relative;
}

.infoContainer .infoContainerBackground {
	position: absolute;
	top: 0;
	width: 100%;
	align-items: center;
	display: flex;
	flex: 1;
	height: 100%;
	justify-content: space-around;
	font-size: 75px;
	z-index: 1;
	color: #f2f2f2;
}
.infoContainerInfos {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	z-index: 2;
	position: relative;
	padding: 20px 0;
}
.infoDetailContainer {
	display: flex;
	font-size: 12px;
	line-height: 24px;
	margin: 4px 0px;
}
.infoDetailContainer .infoLabel {
	width: 100px;
	text-align: right;
	margin-right: 5px;
}
.infoDetailContainer .infoValue {
	width: 140px;
}

.infoDetailContainer .infoValue.large {
	width: 264px;
}
.infoDetailContainer .infoValue.full {
	width: 638px;
}
